
<div class="dashboard">
    <div class="row form-div">
        <form class="input-form">
            <!-- <select name="country" class="country" [(ngModel)]="selectedCountry">
                <option *ngFor="let country of this.countryService.countryList" [ngValue]="country">{{country.Country}}</option>
            </select>
            <select name="chartType" class="type" [(ngModel)]="selectedChartType">
                <option *ngFor="let type of chartTypes"> {{type}}</option>
            </select> -->
            <mat-select>
                <mat-option *ngFor="let country of this.countryService.countryList" [value]="country">
                  {{country.Country}}
                </mat-option>
              </mat-select>
            <button type="submit" class="btn-submit" (click)="getData()">Show</button>
        </form>
        <div class="spinner" *ngIf="loading">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <div class="row dashboard-data">
        <div class="col-md-6 table-area">

        </div>
        <div *ngIf="chartData" class="col-md-6 chart-area">
            <plotly-plot #chart [data]="chartData.data" [layout]="chartData.layout"></plotly-plot>
        </div> 
    </div>
</div>
